.button {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 35px;
  color: #333;
  position: relative;
  transition: all .35s;
  background-color: #d1d2d4;
  margin-bottom: 40px;
  border: 2px solid #adadad;
  border-radius: 5px;
  letter-spacing: 1px;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  position: absolute;
  content: attr(data-sign);
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border: none;
  outline: none;
  background: dodgerblue;
  color: transparent;
  transition: width 0.5s, color 0.5s;
}

.button:hover:after {
  width: 100%;
  color: #fff;
}