.section {
  width: 550px;
  height: fit-content;
  border: 1px solid transparent;
  background-color: #d1d2d4;
  border-radius: 20px;
  margin-bottom: 50px;
}

.section-title {
  font-weight: bold;
  font-size: 1.5em;
  margin: 50px 0 40px 50px;
}

.all-section-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.date {
  display: flex;
  flex-direction: row;
  width: 75%;
}