.textarea-container {
  width: 75%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
}

.textarea {
  width: 100%;
  min-height: 30px;
  border: none;
  resize: vertical;
  border-bottom: 2px solid #adadad;
  color: #333;
  background-color: #d1d2d4;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}

.textarea::placeholder {
  color: #78787c;
}

.textarea:focus {
  outline: none;
}

.textarea + .textarea-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: dodgerblue;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 40px;
}

.textarea:focus ~ .textarea-line {
  width: 100%;
  transition: 0.5s;
}